.form {
  border: 1px solid rgb(139, 132, 132);
  margin: 5% 25%;
}
.formInput {
  margin: 0 10%;
  margin-bottom: 5%;
}
input {
  display: block;
  height: 50px;
  width: 100%;
  margin: 0 auto;
  border: none;
}
input::placeholder {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
input:hover,
input:focus,
input:active:focus {
  color: #ff5722;
  outline: none;
  border-bottom: 1px solid #ff5722;
}
input::placeholder {
  color: #ff5722;
  position: relative;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
}
button {
  color: #ff5722;
  background-color: transparent;
  border-color: transparent;
}
.googleLogin {
  border: 1px solid green;
  border-radius: 15px;
  padding: 5px 0;
  margin: auto 25%;
}
.googleLogin img {
  width: 5%;
}
@media only screen and (max-width: 600px) {
  .form {
    margin: 5% 15%;
  }
  .googleLogin img {
    width: 10%;
  }
}
