.form{
    border: 1px solid rgb(139, 132, 132);
margin: 5% 25%;
}
.formInput{
    margin: 0 10%;
    margin-bottom:5%;
}
input{
    display:block;
    height:50px;
    width:100%;
    margin:0 auto;
    border:none;
   
  }
  input::placeholder{
    -webkit-transform:translateY(0px);
      transform:translateY(0px);
    -webkit-transition:.5s;
      transition:.5s;
  }
  input:hover,
  input:focus,
  input:active:focus{
    color:#ff5722;
    outline:none;
    border-bottom:1px solid #ff5722;
   
  }
  input::placeholder{
    color:#ff5722;
    position:relative;
    -webkit-transform:translateY(-20px);
    transform:translateY(-20px);
    
  }